.cell {
    position: relative;
}

.field {
    /*
    width: 1000px;
    height: 1500px;
    */
    position: relative;

}

.test {
    position: relative;
    top: 100px;
    left: 100px;
}

body {
    margin: 0;
}

/*
.field-row {
  width: fit-content;
}
*/

#canvas {
    display: block
}

